html, body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #eee;
    margin: 0;
    padding: 0;
}

body {
}

.sticky { 
    display: inline-block;
    padding:25px 25px 40px;
    margin:0 auto 20px auto;
    width:250px;
    height:250px;   
    line-height:1.5;
    border:0;
    border-radius:3px;
    background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
    background: -moz-linear-gradient(#F9EFAF, #F7E98D);
    background: -o-linear-gradient(#F9EFAF, #F7E98D);
    background: -ms-linear-gradient(#F9EFAF, #F7E98D);
    background: linear-gradient(#F9EFAF, #F7E98D);
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    overflow:hidden;
    transition:box-shadow 0.5s ease;
    font-smoothing:subpixel-antialiased;
    max-width:520px;
    max-height:250px;
    margin: 20px;
}

.sticky:hover { box-shadow:0 5px 8px rgba(0,0,0,0.15); }
.sticky:focus { box-shadow:0 5px 12px rgba(0,0,0,0.2); outline:none; }